:root {
    --soft-crimson: rgba(220, 20, 60, .1);
    --soft-floralwhite: rgba(255, 250, 240, .1);
    --dark-gray: rgba(10, 10, 10, 1);
    --dark-gray-2: rgba(20, 20, 20, 1);
}

/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

hr {
    width: 75%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: floralwhite;
}

input {
    /* height: 2em;  */
    outline: none;
    width: 100%;
}

textarea {
    resize: vertical;
    /* height: 2rem; */
    outline: none;
}

/* LOCAL STYLES */

body {
    margin: 0;
    padding: 0;
    /* height: auto; */
    background-image: url("../images/background_480.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    backdrop-filter: brightness(5%);
    -webkit-backdrop-filter: brightness(5%);
}

header {
    /* position: sticky; */
    top: 0;

    height: 100vh;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

nav {
    position: sticky;
    top: 0;
    z-index: 999;
    color: floralwhite;
    font-size: larger;
    background-color: black;
    border-bottom: 3px solid var(--soft-crimson);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navlink li {
    margin-inline: 25px;
}

.navitem:hover {
    animation: navcolor .5s ease forwards;
    -moz-animation: navcolor .5s ease forwards;
}

.navitem-active {
    color: crimson;
}

.home {
    color: floralwhite;
    /* height: calc(100vh - 90px); */
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-out;
}

.home-button-container {
    margin-inline: auto;
    margin-block: 50px;
}

.home-button {
    border: 2px solid floralwhite;
    font-size: large;
    padding-inline: 15px;
    padding-block: 10px;
}

.home-button:hover {
    animation: submitBtn .5s ease forwards;
    -webkit-animation: submitBtn .5s ease forwards;
}

.home-header,
.contact-header,
.about-header {
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
}

.highlight {
    color: crimson;
}

.about {
    color: floralwhite;
    background-color: var(--dark-gray-2);
    padding-block: 50px;
    padding-inline: 50px;
    border: 2px solid var(--soft-crimson);
}

.about-text {
    text-align: center;
    font-size: x-large;
    padding-block: 20px;
    padding-inline: 200px;
}

.link:hover {
    text-decoration: underline;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.linkedin-card {
    width: 100%;
}

.skills {
    width: 100%;
    padding-inline: 20px;
}

.skill-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.skill-name {
    background-color: crimson;
    width: 15%;
    padding: 5px;
    font-size: large;
    text-align: center;
}

.progress {
    background-color: var(--soft-floralwhite);
    margin-block: 5px;
    width: 85%;
}

.bar {
    background-color: var(--soft-crimson);
    padding-block: 5px;
    padding-inline: 10px;
    text-align: end;
    font-size: large;
}

.ht {
    width: 97%;
}

.css {
    width: 90%;
}

.js {
    width: 80%;
}

.py {
    width: 90%;
}

.dj {
    width: 80%;
}

.rb {
    width: 70%;
}

.ror {
    width: 50%;
}

.ng {
    width: 35%;
}

.ui {
    width: 55%;
}

.contact {
    background-color: var(--dark-gray);
    color: floralwhite;
    padding-block: 50px;
    padding-inline: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    margin-block: 10px;
}

.form-group {
    margin-block: 10px;
}

.form-control {
    background-color: var(--soft-floralwhite);
    color: floralwhite;
    border: none;
    padding: 10px;
    border-radius: 1px;
    font-size: larger;
}

.form-control:focus {
    background-color: var(--soft-crimson);
    border-color: crimson;
    transition: .5s ease all;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

.form-button {
    display: flex;
    justify-content: flex-end;
}

.form-submit {
    background-color: transparent;
    color: floralwhite;
    border: 2px solid floralwhite;
    border-radius: 5px;
    font-size: large;
    padding-block: 10px;
    padding-inline: 20px;
}

.form-submit:hover {
    animation: submitBtn .5s ease forwards;
}

.scroll-button {
    position: sticky;
    bottom: 10px;
    float: right;
    right: 10px;
    z-index: 999;
    border: 2px solid floralwhite;
    background-color: var(--soft-floralwhite);
    padding: 10px;
}

.scroll-button:hover {
    animation: submitBtn .5s ease forwards;
}

.contact-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.email,
.linkedin,
.telegram {
    width: 48px;
}

.email:hover,
.linkedin:hover,
.telegram:hover {
    animation: bounce 3s ease;
    -moz-animation: bounce 3s ease;
}

footer {
    width: 100%;
    font-size: large;
    color: floralwhite;
    /* position: sticky; */
    /* bottom: 0; */
    text-align: center;
    padding-block: 30px;
    background-color: black;
}

/* Animations */

@keyframes bounce {

    from,
    to {
        rotate: 0;
    }

    50% {
        rotate: 360deg;
    }
}

@keyframes navcolor {
    0% {
        color: floralwhite;
    }

    100% {
        color: crimson;
    }
}

@keyframes submitBtn {
    0% {
        border-color: floralwhite;
        /* background-color: var(--soft-floralwhite); */
        color: floralwhite;
    }

    100% {
        border-color: crimson;
        color: crimson;
        border-radius: 15px;
        background-color: var(--soft-crimson);
    }
}

@keyframes inputBorder {

    from,
    to {
        border-color: crimson;
    }

    50% {
        border-color: floralwhite;
    }
}

/* Media Queries */

@media (max-width: 1320px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }
}

@media (max-width: 1024px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    .contact-header {
        font-size: 2rem;
    }

    .form-container {
        margin: 0;
    }
}

@media (max-width: 765px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    .home-header {
        font-size: 2rem;
    }

    .contact-header {
        font-size: 2rem;
    }

    .form-container {
        margin: 0;
    }
}

@media (max-width: 470px) {
    .home-header {
        font-size: 1.5rem;
    }
}

@media (max-width: 376px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0%, -50%);
    }

    .home-header {
        font-size: 1.5rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        padding: 5px 25px;
        font-size: medium;
        border-width: 2px;
    }

    .contact-header {
        font-size: 3rem;
    }
}