:root {
    --soft-crimson: rgba(220, 20, 60, .1);
    --soft-floralwhite: rgba(255, 250, 240, .1);
    --dark-gray: rgba(10, 10, 10, 1);
    --dark-gray-2: rgba(20, 20, 20, 1);
}

/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

hr {
    width: 75%;
    color: var(--soft-crimson);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: floralwhite;
}

input {
    outline: none;
    width: 100%;
}

textarea {
    resize: vertical;
    outline: none;
}

/* LOCAL STYLES */

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(5%);
    -webkit-backdrop-filter: brightness(5%);
}

header {
    top: 0;
    height: 100vh;
}

nav {
    position: sticky;
    top: 0;
    z-index: 999;
    color: floralwhite;
    font-size: larger;
    background-color: black;
    border-bottom: 3px solid var(--soft-crimson);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navlink li {
    margin-inline: 25px;
}

.navitem:hover {
    animation: nav_anim .5s ease forwards;
    -moz-animation: nav_anim .5s ease forwards;
}

.home {
    color: floralwhite;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
}

.home-button-container {
    margin-inline: auto;
    margin-block: 50px;
}

.home-button {
    border: 2px solid floralwhite;
    font-size: large;
    padding-inline: 15px;
    padding-block: 10px;
}

.home-button:hover {
    animation: btn_anim .5s ease forwards;
    -webkit-animation: btn_anim .5s ease forwards;
}

.home-header,
.contact-header,
.about-header {
    font-size: 3rem;
    text-align: center;
}

.highlight {
    color: crimson;
}

.about {
    color: floralwhite;
    background-color: var(--dark-gray-2);
    padding-block: 50px;
    padding-inline: 50px;
    border-block: 2px solid var(--soft-crimson);
}

.about-text {
    text-align: center;
    font-size: x-large;
    padding-block: 20px;
    padding-inline: 200px;
}

.link:hover {
    text-decoration: underline;
}

.about-content,
.qual {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.linkedin-card {
    width: 100%;
}

.skills {
    width: 100%;
    padding-inline: 20px;
}

.skill-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.skill-name {
    background-color: crimson;
    width: 15%;
    padding: 5px;
    font-size: large;
    text-align: center;
}

.progress {
    background-color: var(--soft-floralwhite);
    margin-block: 5px;
    width: 85%;
}

.bar {
    background-color: var(--soft-crimson);
    padding-block: 5px;
    padding-inline: 10px;
    text-align: end;
    font-size: large;
}

.ht {
    width: 97%;
}

.css {
    width: 90%;
}

.js {
    width: 80%;
}

.py {
    width: 90%;
}

.dj {
    width: 80%;
}

.rb {
    width: 70%;
}

.ror {
    width: 50%;
}

.ng {
    width: 35%;
}

.ui {
    width: 55%;
}

.skills-header {
    text-align: center;
    color: floralwhite;
    font-size: xx-large;
    margin-block: 20px;
}

.qual-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 15%;
}

.qual-title,
.qual-content {
    font-size: larger;
}

.contact {
    background-color: var(--dark-gray);
    color: floralwhite;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    margin-block: 50px;
}

.form-group {
    margin-block: 10px;
}

.form-control {
    background-color: var(--soft-floralwhite);
    color: floralwhite;
    border: none;
    padding: 10px;
    border-radius: 1px;
    font-size: larger;
}

.form-control:focus {
    background-color: var(--soft-crimson);
    border-color: crimson;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-submit {
    background-color: transparent;
    color: floralwhite;
    border: 2px solid floralwhite;
    border-radius: 5px;
    font-size: large;
    padding-block: 10px;
    padding-inline: 20px;
}

.form-submit:hover,
.scroll-button:hover {
    animation: btn_anim .5s ease forwards;
    -webkit-animation: btn_anim .5s ease forwards;
}

.scroll-button {
    position: sticky;
    bottom: 10px;
    float: right;
    right: 10px;
    z-index: 999;
    border: 2px solid floralwhite;
    background-color: var(--soft-floralwhite);
    padding: 10px;
    display: flex;

}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-block: 15px;
    width: 100%;
}

.email {
    margin-inline-start: 3px;
}

.linkedin,
.telegram {
    width: 48px;
}

.email:hover,
.linkedin:hover,
.telegram:hover {
    animation: rotate_anim 3s ease;
    -webkit-animation: rotate_anim 3s ease;
}

footer {
    width: 100%;
    font-size: large;
    color: floralwhite;
    text-align: center;
    padding-block: 50px;
    background-color: black;
    border-top: 2px solid var(--soft-floralwhite)
}

/* Animations */

@keyframes rotate_anim {
    50% {
        rotate: 360deg;
    }
}

@keyframes nav_anim {
    to {
        color: crimson;
    }
}

@keyframes btn_anim {
    to {
        border-color: crimson;
        color: crimson;
        border-radius: 15px;
        background-color: var(--soft-crimson);
    }
}

/* Media Queries */

@media (max-width: 1400px) {

    .about,
    .contact,
    footer {
        padding: 20px;
    }

    .about-text {
        padding-inline: 50px;
    }

    .about-content {
        padding-inline: 0;
    }

    .skill-name {
        width: 25%;
    }

    .progress {
        width: 75%;
    }
}

@media (max-width: 795px) {

    .home-header {
        font-size: 1.5rem;
    }

    .about,
    .contact,
    footer {
        padding: 10px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        padding-inline: 0;
        font-size: larger;
    }

    .skill-name {
        width: 30%;
    }

    .progress {
        width: 70%;
    }

    .qual {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .qual-container {
        width: 80%;
        margin-block: 20px;
    }

    .form-container,
    .form-control {
        width: 100%;
    }

    .contact-links {
        margin: 0;
        z-index: 1000;
    }
}