ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: floralwhite;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/background2.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(7%);
    -webkit-backdrop-filter: brightness(7%);
}

nav {
    width: 100%;
    color: floralwhite;
    font-size: larger;
    padding-block: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem:hover {
    animation: navcolor .5s ease forwards;
    -moz-animation: navcolor .5s ease forwards;
}

.navitem-active {
    color: crimson;
}

.navlink {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navlink li {
    margin-inline: 25px;
}

main {
    margin: auto;
}

.home {
    color: floralwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header,
.contact-header {
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
}

.highlight {
    color: crimson;
}

.about {
    display: none;
}

.contact {
    color: floralwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    display: none;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.email:hover,
.linkedin:hover,
.telegram:hover {
    animation: bounce 3s ease;
    -moz-animation: bounce 3s ease;
}

footer {
    width: 100%;
    font-size: large;
    color: floralwhite;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-block: 5px;
}

/* Animations */

@keyframes bounce {

    from,
    to {
        rotate: 0;
    }

    50% {
        rotate: 360deg;
    }
}

@keyframes navcolor {
    0% {
        color: floralwhite;
    }

    100% {
        color: crimson;
    }
}

/* Media Queries */

@media (max-width: 1320px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }
}

@media (max-width: 1024px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }
}

@media (max-width: 765px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    .home-header {
        font-size: 2rem;
    }
}

@media (max-width: 470px) {
    .home-header {
        font-size: 1.5rem;
    }
}

@media (max-width: 376px) {
    .home {
        left: 0;
        right: 0;
        transform: translate(0%, -50%);
    }

    .home-header {
        font-size: 1.5rem;
    }

    .btn {
        padding: 5px 25px;
        font-size: medium;
        border-width: 2px;
    }

    .contact-header {
        font-size: 3rem;
    }
}